<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="header">
      <div class="logo_container">
        <img id="logo-front"src="./props/images/logo.png" alt="">
      </div>
      <div class="sec2">
        <div class="scorecard">
          scorecard
          <ul class="sidelongbar">
              <a href="/login" ><li class="btnHL"><b><span class="glyphicon glyphicon-log-in"> Login</span> </b></li></a>
            <a href="/register"><li class="btnHR"><b><span class="glyphicon glyphicon-pencil"> Register</span></b></li></a>
          </ul>
        </div>

        <div class="navigationbar">
          <ul class="longbar">
            <li><a href="/register">Home</a></li>
            <li><a href="/login">Matchs</a></li>
            <li><a href="#">Tournament</a></li>
            <li><a href="#">Results</a></li>
            <li><a href="#">Players</a></li>
              <li><a href="#">More</a></li>
          </ul>
        </div>
    </div>
    </div>
    <div class="main">
      <div class="adsec left">
        adsense
      </div>
