<!-- <% include %> -->

<% include partials/header.ejs%>
<div class="forum-body">
  <div class="admin-post">
    <div class="post-head">
      admin-post
    </div>
    <div class="post-body">

    </div>
  </div>
  <div class="user-post">
    <div class="post-head">
      user-post
    </div>
    <div class="post-body">

    </div>
  </div>
</div>
<% include partials/footer.ejs%>
