<% include partials/header%>
<div class="register-form">
  <form method="post" action="/register/signed">
    <h1 class="titl"><b> Register your Team Now!</b></h1>
    <input name="team_title" id="title" type="text" placeholder="Team Official Name">
    <input name="team_location" id="location" type="text" placeholder="Team Location of origin">
    <input id="year" type="date" placeholder="origin date">
    <input name="team_manager" id="man" type="text" placeholder="Team Manager Name">
    <input id="no_man" type="text" placeholder="Phone Number">
    <input id="mail_man" type="text" placeholder="Email Address">
    <input id="cap" type="text" placeholder="Team Captain name">
    <input id="no_cap" type="text" placeholder="Phone Number">
    <input id="mail_cap" type="text" placeholder="Email Address">
    <input id="pl1" class="playerfield" type="text" placeholder="Player 1">
    <input id="pl1skill" class="skills" type="text" placeholder="Skills">
    <input id="pl1num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl2" class="playerfield" type="text" placeholder="Player 2">
    <input id="pl2skill" class="skills" type="text" placeholder="Skills">
    <input id="pl2num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl3" class="playerfield" type="text" placeholder="Player 3">
    <input id="pl3skill" class="skills" type="text" placeholder="Skills">
    <input id="pl3num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl4" class="playerfield" type="text" placeholder="Player 4">
    <input id="pl4skill" class="skills" type="text" placeholder="Skills">
    <input id="pl4num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl5" class="playerfield" type="text" placeholder="Player 5">
    <input id="pl5skill" class="skills" type="text" placeholder="Skills">
    <input id="pl5num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl6" class="playerfield" type="text" placeholder="Player 6">
    <input id="pl6skill" class="skills" type="text" placeholder="Skills">
    <input id="pl6num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl7" class="playerfield" type="text" placeholder="Player 7">
    <input id="pl7skill" class="skills" type="text" placeholder="Skills">
    <input id="pl7num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl8" class="playerfield" type="text" placeholder="Player 8">
    <input id="pl8skill" class="skills" type="text" placeholder="Skills">
    <input id="pl8num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl9" class="playerfield" type="text" placeholder="Player 9">
    <input id="pl9skill" class="skills" type="text" placeholder="Skills">
    <input id="pl9num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl10" class="playerfield" type="text" placeholder="Player 10">
    <input id="pl10skill" class="skills" type="text" placeholder="Skills">
    <input id="pl10num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl11" class="playerfield" type="text" placeholder="Player 11">
    <input id="pl11skill" class="skills" type="text" placeholder="Skills">
    <input id="pl11num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl12" class="playerfield" type="text" placeholder="Player 12">
    <input id="pl12skill" class="skills" type="text" placeholder="Skills">
    <input id="pl12num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl13" class="playerfield" type="text" placeholder="Player 13">
    <input id="pl13skill" class="skills" type="text" placeholder="Skills">
    <input id="pl13num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl14" class="playerfield" type="text" placeholder="Player 14">
    <input id="pl14skill" class="skills" type="text" placeholder="Skills">
    <input id="pl14num" class="numbers" type="text" placeholder="Phone number">
    <input id="pl15" class="playerfield" type="text" placeholder="Player 15">
    <input id="pl15skill" class="skills" type="text" placeholder="Skills">
    <input id="pl15num" class="numbers" type="text" placeholder="Phone number">

    <button type="submit" id="supmit" class="btn btn-success">Register</button>
    <button type="reset" id="klear" class="btn btn-danger">Clear</button>
  </form>
</div>
<% include partials/footer%>
